<div class="grid-container">
    <div class="bg">
        <app-homebg></app-homebg>
    </div>
    <div class="logo">
        <app-sitelogo></app-sitelogo>
    </div>
    <div class="img">
        <app-home-image></app-home-image>
    </div>
    <div class="txtHome"><app-text-home></app-text-home></div>
    <div class="m1"><app-item-menu  ></app-item-menu></div>
    <div class="m2"><app-item-menu></app-item-menu></div>
    <div class="m3"><app-item-menu></app-item-menu></div>
    <div class="m4"><app-item-menu></app-item-menu></div>
    <div class="m5"><app-item-menu></app-item-menu></div>
</div>
