.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
}

.bg { grid-area: 1 / 1 / 2 / 6; }

.logo { grid-area: 1 / 1 / 2 / 2; }

.imgHome { grid-area: 1 / 4 / 3 / 6; }

.m1 { grid-area: 3 / 1 / 4 / 2;
  margin: auto; }

.m2 { grid-area: 3 / 2 / 4 / 3;
  margin: auto;}

.m3 { grid-area: 3 / 3 / 4 / 4;
  margin: auto;}


.m4 { grid-area: 3 / 4 / 4 / 5;
  margin: auto; }

.m5 { grid-area: 3 / 5 / 4 / 6;
  margin: auto;}

.textHome { grid-area: 2 / 2 / 3 / 5; }
