<div class="grid-container">
  <div class="bg"><app-homebg></app-homebg></div>
  <div class="logo"> <app-sitelogo></app-sitelogo></div>
  <div class="imgHome"><app-home-image></app-home-image></div>
  <div class="m1">
    <app-item-menu (sendDataToHeader)="receiveDataFromItemMenu($event)"
                   [propertyTitle]=" 'credit' "
                   [cheminImage]="'assets/img/IconePret.png'">

    </app-item-menu>
  </div>
  <div class="m2">
    <app-item-menu (sendDataToHeader)="receiveDataFromItemMenu($event)"
                   [propertyTitle]=" 'Calcul Taxe' "
                   [cheminImage]="'assets/img/IconeTaxe.png'">

    </app-item-menu>
  </div>
  <div class="m3">
    <app-item-menu (sendDataToHeader)="receiveDataFromItemMenu($event)"
                   [propertyTitle]=" 'épargne' "
                   [cheminImage]="'assets/img/iconeEpargne.png'">

    </app-item-menu>
  </div>
  <div class="m4">
    <app-item-menu (sendDataToHeader)="receiveDataFromItemMenu($event)"
                   [propertyTitle]=" 'Calcul Revenue' "
                   [cheminImage]="'assets/img/iconeRevenue.png'">

    </app-item-menu>
  </div>

  <div class="m5"><app-item-menu (sendDataToHeader)="receiveDataFromItemMenu($event)"
                                 [propertyTitle]=" 'Articles' "
                                 [cheminImage]="'assets/img/IconeArticle.png'">

  </app-item-menu>
  </div>
  <div class="textHome"><app-text-home></app-text-home></div>
</div>
