<div class="grid-container">
  <div class="formulaire">
    <form>
      <h1>simulateur credit</h1>
      <input placeholder="Montant DT" type="txt" required="">
      <input placeholder="Duree" type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
      <input placeholder="Taux credit" type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
      <div class="box">
        <select>
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
          <option>Option 4</option>
          <option>Option 5</option>
        </select>
      </div>

      <button>Lancer le simulateur</button>
    </form>

    <a class="follow" href="https://twitter.com/mildrenben" target="_blank"><i class="fa fa-twitter"></i>Follow Me</a>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>


  </div>
  <div class="result">
    la resultat
  </div>
</div>





