<div class="grid-container">
  <div class="formulaire">
    <form>
      <h1>simulateur credit</h1>
      <input placeholder="Montant DT" type="txt" required="">
      <input placeholder="Durée" type="txt" required="">
      <input placeholder="Taux %" type="txt" required="">
      <div class="box">
        <select>
          <option>Voiture</option>
          <option>Maison</option>
          <option>immobilier</option>
        </select>
      </div>

      <button>Lancer le simulateur</button>
    </form>

    <link href='https://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>


  </div>
  <div class="result">
    la resultat
  </div>
</div>





