<


      <div class="portfolio-effect">

        <!-- portfolio item -->
        <div class="portfolio-item portfolio-effect__item portfolio-item--eff1">

          <img class="portfolio-item__image" src="assets/img/IconeArticle.png" alt="Portfolio Item" width="826" height="551">

          <div class="portfolio-item__info">

            <h3 class="portfolio-item__header">Web Development</h3>

            <div class="portfolio-item__links">

              <div class="portfolio-item__link-block">

                <a class="portfolio-item__link" href="#" title="Link Title">
                  <i class="material-icons">link</i>

                </a>

              </div>

              <div class="portfolio-item__link-block">

                <a class="portfolio-item__link" href="#" title="Link Title">
                  <i class="material-icons">search</i>

                </a>

              </div>

            </div>

          </div>

        </div>


      </div>


