<div class="grid-container">
  <div class="formulaire">
    <form>
      <h1>simulateur Epargne</h1>
      <input placeholder="Capital initial (DT)" type="txt" required="">
      <input placeholder="Versement/mois (DT) " type="txt" required="">
      <input placeholder="Rendement %" type="txt" required="">
      <input placeholder="Durée (mois)" type="txt" required="">

      <button>Lancer le simulateur</button>
    </form>

    <link href='https://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>


  </div>
  <div class="result">
    la resultat
  </div>
</div>





