<div class="in-left">
  <div class="container">
<div class="grid-container">
  <div class="formulaire">
    <form (ngSubmit)="onSubmit(formulaire)" #formulaire="ngForm" id="in-left">
      <h1>simulateur Epargne</h1>
      <input ngModel name="initial" placeholder="Capital initial (DT)" type="txt" required>
      <input ngModel name="versement" placeholder="Versement/mois (DT) " type="txt" required>
      <input ngModel name="taux" placeholder="Rendement %" type="txt" required="">
      <input name="duree" placeholder="Durée (mois)" type="txt" required="">

      <button  (click)="changeShow()">Lancer le simulateur</button>
    </form>

    <link href='https://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>


  </div>
  <div  class="result" [hidden]="show">
    <app-resultat-epargne></app-resultat-epargne>
  </div>
</div>
  </div>
</div>




