<form id="app-cover">
  <div id="select-box">
    <input type="checkbox" id="options-view-button">
    <div id="select-button" class="brd">
      <div id="selected-value">
        <span>Type credit</span>
      </div>
      <div id="chevrons">
        <i class="fas fa-chevron-up"></i>
        <i class="fas fa-chevron-down"></i>
      </div>
    </div>
    <div id="options">
      <div class="option">
        <input class="s-c top" type="radio" name="platform" value="codepen">
        <input class="s-c bottom" type="radio" name="platform" value="codepen">
        <i class="fab fa-codepen"></i>
        <span class="label">Credit foyer</span>
        <span class="opt-val">Credit foyer</span>
      </div>
      <div class="option">
        <input class="s-c top" type="radio" name="platform" value="dribbble">
        <input class="s-c bottom" type="radio" name="platform" value="dribbble">
        <i class="fab fa-dribbble"></i>
        <span class="label">Credit immobilier</span>
        <span class="opt-val">Credit immobilier</span>
      </div>
      <div class="option">
        <input class="s-c top" type="radio" name="platform" value="behance">
        <input class="s-c bottom" type="radio" name="platform" value="behance">
        <i class="fab fa-behance"></i>
        <span class="label">Credit residence</span>
        <span class="opt-val">Credit residence</span>
      </div>
      <div class="option">
        <input class="s-c top" type="radio" name="platform" value="hackerrank">
        <input class="s-c bottom" type="radio" name="platform" value="hackerrank">
        <i class="fab fa-hackerrank"></i>
        <span class="label">Credit Renove</span>
        <span class="opt-val">Credit Renove</span>
      </div>
      <div class="option">
        <input class="s-c top" type="radio" name="platform" value="stackoverflow">
        <input class="s-c bottom" type="radio" name="platform" value="stackoverflow">
        <i class="fab fa-stack-overflow"></i>
        <span class="label">Credit auto</span>
        <span class="opt-val">Credit auto</span>
      </div>
      <div class="option">
        <input class="s-c top" type="radio" name="platform" value="freecodecamp">
        <input class="s-c bottom" type="radio" name="platform" value="freecodecamp">
        <i class="fab fa-free-code-camp"></i>
        <span class="label">Credit media</span>
        <span class="opt-val">Credit media</span>
      </div>
      <div id="option-bg"></div>
    </div>
  </div>
</form>
