<div class="in-left">
  <div class="container">
    <div class="grid-container">
      <div class="formulaire" id="in-left">
        <form>
          <h1>calcul Taxe</h1>
          <input placeholder="Salaire brute (DT)" type="txt" required="">


          <input placeholder="Autres déductions" type="txt" required="">

          <button (click)="changeShow()">Lancer le simulateur</button>
        </form>

        <link href='https://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>


      </div>
      <div class="result" [hidden]="show">
          <app-result-taxe></app-result-taxe>
      </div>
    </div>






  </div>
</div>
